/* Typography */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400italic,400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);


body{
    background-color: #EFE5D8; /* Palette */
    color: #333; /* Palette */

}


p{
    font-family:'Merriweather', serif;
    line-height: 160%;
    font-size: 1.2em;
}

h1{
    font-family:'Merriweather', serif;
    line-height: 115%;
    font-size: 2.8em; 
    font-weight: 600;
    padding-top: 0px;
}

h2,h3,h4,h5,li {
    font-family:'Karla', sans-serif;
}

h3{
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #005356; /* Palette */
}

h5{
    letter-spacing: 1px;
    font-weight: 600;
}

a{
    color: #005356; /* Palette */
}

a:focus, a:hover {
    color: #1D8680; /* Palette */
}


/* Viz page */
.my-viz{
    background-color: #EFE5D8;  /* Togliere questo */
    min-height:  650px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
}


.affix-top,.affix{
    position: static;
    border:0 #ccc solid;
    border-top-width:1px;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top:215px;
        width:228px;
    }

    #sidebar.affix {
        position: fixed;
        top:70px;
        width:228px;
    }
}

#sidebar li {
    border:0 #ccc solid;
    border-bottom-width:1px;
    letter-spacing: 1px;
}


#sidebar li.active {
    font-weight: 800;
    padding-left: 5px;
}

.main-content{
    margin-bottom: 400px;
}

.section-content{
    padding-top: 70px;
    margin-bottom: 70px;

}

.section-text{
    border:0 #ccc solid; /* Palette */
    border-top-width: 2px;
}


.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}


/* Introduction */

.my-cover{
    min-height:  540px;
    margin-bottom: 0px;
    background: url("../img/cover.png") no-repeat center center fixed;
    background-size: cover;
}

.introduction {
    margin-top:-350px;
    background: #EFE5D8;
    padding-top: 50px;
}

.introduction h1{
    font-size: 5em;
    padding-top: 40px
}

.introduction h5{
    font-family:'Merriweather', serif;
    color: #005356; /* Palette */
}

.introduction h3{
    margin-top: 100px;
    margin-bottom: 30px;
}

.introduction img{
    max-width: 100%;
}

.section-text-introduction{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    padding-top: 50px;
}

.chapters{
    border:0 #ccc solid; /* Palette */
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}

.chapters h1{
    font-size: 2.5em;
}

.chapters h2{
    font-size: 1.5em;
}

.chapters ul{
    padding: 0;
    list-style: none;
    margin-top: 30px;
}

.chapters li{
    padding: 0 0 10px 0;
    list-style: none;
    font-size: 1.2em; 
}

.chapters-thumb{
    padding-left: 0;
}

/* Protocol */

.my-protocol{
    background-color: #ccc;  /* Togliere questo */
    min-height:  450px;
    margin-bottom: 50px;
}

.protocol-title{
    margin-top: 50px;
}

.section-content-protocol{
    padding-top: 70px;
    margin-bottom: 10px;
}

.section-content-protocol img{ 
    width: 100%;
    padding: 20px 0 20px 0;
}

.section-text-protocol{
    border:0 #ccc solid; /* Palette */
    border-top-width: 1px;
}

.related-viz{
    margin-top: 70px;
}

.related-viz-container{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.related-viz-container:hover{
    background-color: #f7f7f7;
}

.related-viz-container{
    width: 100%;
    border: 1px solid #ccc;
}

.related-viz-container h4{
    color:#272725;
    padding:5px 10px 5px 10px;
}

.related-viz-container h4:hover{
    color: #1D8680!important; /* Palette */

}

.related-viz-image img{
    max-width:100%;
    height: auto;
}


/* Sidebar menu */

#menu-toggle {
}

.menu-sidebar {    
    background-color: #005356; /* Palette */
    position: fixed;
    z-index: 1000;
}

.menu-sidebar i{
    padding: 19px!important;
    font-size: 2em;
    color: #fff;
    background-color: #005356; /* Palette */
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #272725; /* Palette */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    background-color: #EFE5D8;
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -350px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-brand {
    margin-bottom: 50px;
    height:100px;
    background-color: #005356; /* Palette */
    font-family:'Karla', sans-serif;
    letter-spacing: 1px;
}

.sidebar-brand a{
    padding-left: 20px;
    display: block;
    text-decoration: none;
    color: #fff!important;
}

.sidebar-brand a:hover{
    color: #ccc!important;
}

.sidebar-nav h4{
    padding-top: 20px;
    padding-left: 20px;
    color: #fff;
    letter-spacing: 1px;
}


.sidebar-nav h5{
    padding-top: 20px;
    padding-left: 20px;
    color: #005356; /* Palette */
}


.sidebar-nav li {
   
    line-height: 20px;

}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    padding-left: 40px;
    padding-right: 30px;
    margin-bottom: 10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li a:active{
    color: #fff;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 350px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 350px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*Footer*/
.footer{
    background-color: #272725; /* Palette */
    color:#fff; /* Palette */
    font-family: 'Karla', sans-serif;
    bottom:0;
    position: relative;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}


.footer h4{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    margin-top: 0px;
    font-weight: 400;
}

.footer ul{
    list-style: none;
    padding-left: 0;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
}

@media only screen and (max-width : 420px) {
    .footer h4{
        margin-top: 30px;
    }    

    .chapters-thumb{
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width : 768px) {

    .section-text-introduction{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        padding-top: 0px;
    }

    .introduction h1{
        font-size: 2.5em;
        padding-top: 40px
    }

    .chapters-thumb{
        padding-left: 0;
        padding-right: 0;
    }

    .chapters{
        margin-bottom: 50px;
    }

}


/*Buttons and UI*/
.btn{
    font-family:'Karla', sans-serif;
    border-radius: 3px;
}

.btn-primary {
    color: #fff;/* Palette */
    background-color: #428bca;/* Palette */
    border-color: #357ebd;/* Palette */         
}

.btn-success {
    color: #fff;/* Palette */
    background-color: #5cb85c;/* Palette */
    border-color: #4cae4c;/* Palette */
}

.btn-info {
    color: #fff;/* Palette */
    background-color: #5bc0de;/* Palette */
    border-color: #46b8da;/* Palette */
}

.btn-warning {
    color: #fff;/* Palette */
    background-color: #f0ad4e;/* Palette */
    border-color: #eea236;/* Palette */
}

.btn-danger {
    color: #fff;/* Palette */
    background-color: #d9534f;/* Palette */
    border-color: #d43f3a;/* Palette */
}


/* inizio */

/* iframe */
iframe {
    border: 0px;
    background-color: #EFE5D8;
    width:100%;
}

/* capitolo 1 */
/* paragrafo 1 */

#google50 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-50%);
    width: 65%;
}

#tree {
    width: 100%;
    margin: 20px 0px 50px 0px;
}

#sceltahealth {
    width: 100%;
    margin-top: 50px;
}

/* capitolo 2 */
/* paragrafo 1 */
#grafico_posizioni {
    margin-top: 5%;
}

#grafico_posizioni img {
    width: 75%;
}

#grafico_posizioni div {
    left: 0px;
}

#thumbnail {
    left: 0;
}

#thumbnail container {
    display: inline;
    text-align: center;
}

.pos_thumb {
    width: 10%;
    padding-right: 1%;
    padding-top: 2%;
    cursor: pointer;
}

#flussi_container {
    text-align: center;
}

#spostati {
    width:100%;
    left:0;
}

/* how to read it */
#tabella {
    margin-top: 50px;
}

/* findings */
#posizioni_totali {
    width: 100%;
    margin-top: 50px;
}

/* paragrafo 2 */
#query_attori {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}

/* paragrafo 3 */
#legenda_attori_siti {
    margin-top: 15%;
    position: relative;
    left: 5%;
}

#grafico_attori {
    margin-top: 10%;
}

#grafico_attori img {
    width: 85%;
}

#all, #academics, #experts, #industries, #journalist, #mds, #organizations, #writers, #undefined {
cursor: pointer;
}

/* paragrafo 4 */
#section_giusto {
    padding-top: 70px !important;
    margin-bottom: 5px !important;
}


/* capitolo 3 */
/* paragrafo 1 */

#legenda_parole {
    padding-top: 29%;
    position: fixed;
}

#legenda_parole ul {
    list-style: none;
}

#grafico_parole {
    margin-left: 300px;
    margin-top: 20px;
}

#grafico_parole img {
    width:90%;
}

#triangulate {
    margin: 20px 0px 10px 0px;
}


#findings_words {
    width: 100%;
    margin-top: 50px;
}

#all, #food, #milk, #diseases, #who, #studies, #human, #nutrients {
    cursor: pointer;
}


/* paragrafo 2 */

.container_word:hover > .tracciati {
    opacity: 0.25;
}

.container_word:hover > .tracciati:hover {
    opacity: 1;
}

.percentuali {
    opacity: 0;
}

.tracciati:hover + .percentuali {
    opacity: 1;
}

#nyt_pm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

/* capitolo 4 */
/* paragrafo 1 */
#motivazione_instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;   
}

#google_trends {
    margin: 20px 0px 50px 0px;
}

#container_utenti {
    margin-top: 5%;
}

#_x31__post, #explicit_x5F_brand, #recipe, #glass, #meme, #people, #animals {
    cursor: pointer;
}

/* paragrafo 2 */
#utenti {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}

/* paragrafo 3 */
#materiali {
    margin-top: 50px;
}


#legenda_brand {    
    margin-top: 15%;
    position: relative;
    left: 5%;
    }

#brand {
    margin-top: 7%;
}

#brand img {
    width: 80%;
}

#XMLID_312_, #XMLID_954_, #XMLID_1001_, #XMLID_976_, #XMLID_973_, #XMLID_970_, #regram, #self-produced {
    cursor: pointer;
}


/* paragrafo 4 */
#confronto_hashtag {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}