svg a{
    padding:10px;
}
.author{
    cursor: pointer;
}
	.st0{fill:#2D2D2D;}
	.st1{opacity:0.2;}
	.st2{fill:#929497;}
	.st3{fill:#F6F7F7;}
	.st4{opacity:0.9;}
	.st5{fill:#428371;}
	.st6{fill:#63C2A6;}
	.st7{fill:#A2D7C7;}
	.st8{display:none;}
	.st9{display:inline;}
	.st10{clip-path:url(#XMLID_1126_);}
	.st11{clip-path:url(#XMLID_1140_);}
	.st12{fill:none;stroke:#63C3A7;stroke-width:4;stroke-miterlimit:10;}
	.st13{clip-path:url(#XMLID_1141_);}
	.st14{clip-path:url(#XMLID_1151_);}
	.st15{clip-path:url(#XMLID_1152_);}
	.st16{clip-path:url(#XMLID_1153_);}
	.st17{clip-path:url(#XMLID_1154_);}
	.st18{clip-path:url(#XMLID_1155_);}
	.st19{clip-path:url(#XMLID_1156_);}
	.st20{clip-path:url(#XMLID_1157_);}
	.st21{clip-path:url(#XMLID_1158_);}
	.st22{clip-path:url(#XMLID_33656_);}
	.st23{clip-path:url(#XMLID_33664_);}
	.st24{clip-path:url(#XMLID_33665_);}
	.st25{clip-path:url(#XMLID_33666_);}
	.st26{clip-path:url(#XMLID_33667_);}
	.st27{clip-path:url(#XMLID_33668_);}
	.st28{clip-path:url(#XMLID_33669_);}
	.st29{clip-path:url(#XMLID_33670_);}
	.st30{clip-path:url(#XMLID_33671_);}
	.st31{clip-path:url(#XMLID_33672_);}
	.st32{clip-path:url(#XMLID_33673_);}
	.st33{clip-path:url(#XMLID_33674_);}
	.st34{clip-path:url(#XMLID_33675_);}
	.st35{clip-path:url(#XMLID_33676_);}
	.st36{clip-path:url(#XMLID_33677_);}
	.st37{clip-path:url(#XMLID_33678_);}
	.st38{clip-path:url(#XMLID_33679_);}
	.st39{clip-path:url(#XMLID_33680_);}
	.st40{clip-path:url(#XMLID_33681_);}
	.st41{clip-path:url(#XMLID_33682_);}
	.st42{clip-path:url(#XMLID_33683_);}
	.st43{clip-path:url(#XMLID_33684_);}
	.st44{clip-path:url(#XMLID_33685_);}
	.st45{clip-path:url(#XMLID_33686_);}
	.st46{clip-path:url(#XMLID_33687_);}
	.st47{clip-path:url(#XMLID_33688_);}
	.st48{clip-path:url(#XMLID_33689_);}
	.st49{clip-path:url(#XMLID_33690_);}
	.st50{clip-path:url(#XMLID_33691_);}
	.st51{clip-path:url(#XMLID_33692_);}
	.st52{clip-path:url(#XMLID_33693_);}
	.st53{clip-path:url(#XMLID_33694_);}
	.st54{clip-path:url(#XMLID_33695_);}
	.st55{clip-path:url(#XMLID_33696_);}
	.st56{clip-path:url(#XMLID_33697_);}
	.st57{clip-path:url(#XMLID_33698_);}
	.st58{clip-path:url(#XMLID_33699_);}
	.st59{clip-path:url(#XMLID_33700_);}
	.st60{clip-path:url(#XMLID_33701_);}
	.st61{clip-path:url(#XMLID_33702_);}
	.st62{clip-path:url(#XMLID_33703_);}
	.st63{clip-path:url(#XMLID_33704_);}
	.st64{clip-path:url(#XMLID_33705_);}
	.st65{clip-path:url(#XMLID_33706_);}
	.st66{clip-path:url(#XMLID_33707_);}
	.st67{clip-path:url(#XMLID_33708_);}
	.st68{clip-path:url(#XMLID_33709_);}
	.st69{clip-path:url(#XMLID_33710_);}
	.st70{clip-path:url(#XMLID_33711_);}
	.st71{clip-path:url(#XMLID_33712_);}
	.st72{clip-path:url(#XMLID_33713_);}
	.st73{clip-path:url(#XMLID_33714_);}
	.st74{clip-path:url(#XMLID_33715_);}
	.st75{clip-path:url(#XMLID_33716_);}
	.st76{clip-path:url(#XMLID_33717_);}
	.st77{clip-path:url(#XMLID_33718_);}
	.st78{clip-path:url(#XMLID_33719_);}
	.st79{clip-path:url(#XMLID_33720_);}
	.st80{clip-path:url(#XMLID_33721_);}
	.st81{clip-path:url(#XMLID_33722_);}
	.st82{clip-path:url(#XMLID_33723_);}
	.st83{clip-path:url(#XMLID_33724_);}
	.st84{clip-path:url(#XMLID_33725_);}
	.st85{clip-path:url(#XMLID_33726_);}
	.st86{clip-path:url(#XMLID_33727_);}
	.st87{clip-path:url(#XMLID_33728_);}
	.st88{clip-path:url(#XMLID_33729_);}
	.st89{clip-path:url(#XMLID_33730_);}
	.st90{clip-path:url(#XMLID_33731_);}
	.st91{clip-path:url(#XMLID_33732_);}
	.st92{clip-path:url(#XMLID_33733_);}
	.st93{clip-path:url(#XMLID_33734_);}
	.st94{clip-path:url(#XMLID_33735_);}
	.st95{clip-path:url(#XMLID_33736_);}
	.st96{clip-path:url(#XMLID_33737_);}
	.st97{clip-path:url(#XMLID_33738_);}
	.st98{clip-path:url(#XMLID_33739_);}
	.st99{clip-path:url(#XMLID_33740_);}
	.st100{clip-path:url(#XMLID_33741_);}
	.st101{clip-path:url(#XMLID_33742_);}
	.st102{clip-path:url(#XMLID_33743_);}
	.st103{clip-path:url(#XMLID_33744_);}
	.st104{clip-path:url(#XMLID_33745_);}
	.st105{clip-path:url(#XMLID_33746_);}
	.st106{clip-path:url(#XMLID_33747_);}
	.st107{clip-path:url(#XMLID_33748_);}
	.st108{clip-path:url(#XMLID_33749_);}
	.st109{clip-path:url(#XMLID_33750_);}
	.st110{clip-path:url(#XMLID_33751_);}
	.st111{clip-path:url(#XMLID_33752_);}
	.st112{clip-path:url(#XMLID_33753_);}
	.st113{clip-path:url(#XMLID_33754_);}
	.st114{clip-path:url(#XMLID_33755_);}
	.st115{clip-path:url(#XMLID_33756_);}
	.st116{clip-path:url(#XMLID_33757_);}
	.st117{clip-path:url(#XMLID_33758_);}
	.st118{clip-path:url(#XMLID_33759_);}
	.st119{clip-path:url(#XMLID_33760_);}
	.st120{clip-path:url(#XMLID_33761_);}
	.st121{clip-path:url(#XMLID_33762_);}
	.st122{clip-path:url(#XMLID_33763_);}
	.st123{clip-path:url(#XMLID_33764_);}
	.st124{clip-path:url(#XMLID_33765_);}
	.st125{clip-path:url(#XMLID_33766_);}
	.st126{clip-path:url(#XMLID_33767_);}
	.st127{clip-path:url(#XMLID_33768_);}
	.st128{clip-path:url(#XMLID_33769_);}
	.st129{clip-path:url(#XMLID_33770_);}
	.st130{clip-path:url(#XMLID_33771_);}
	.st131{clip-path:url(#XMLID_33772_);}
	.st132{clip-path:url(#XMLID_33773_);}
	.st133{clip-path:url(#XMLID_33774_);}
	.st134{clip-path:url(#XMLID_33775_);}
	.st135{clip-path:url(#XMLID_33776_);}
	.st136{clip-path:url(#XMLID_33777_);}
	.st137{clip-path:url(#XMLID_33778_);}
	.st138{clip-path:url(#XMLID_33779_);}
	.st139{clip-path:url(#XMLID_33780_);}
	.st140{clip-path:url(#XMLID_33781_);}
	.st141{clip-path:url(#XMLID_33782_);}
	.st142{clip-path:url(#XMLID_33783_);}
	.st143{clip-path:url(#XMLID_33784_);}
	.st144{clip-path:url(#XMLID_33785_);}
	.st145{clip-path:url(#XMLID_33786_);}
	.st146{clip-path:url(#XMLID_33787_);}
	.st147{clip-path:url(#XMLID_33788_);}
	.st148{clip-path:url(#XMLID_33789_);}
	.st149{clip-path:url(#XMLID_33790_);}
	.st150{clip-path:url(#XMLID_33791_);}
	.st151{clip-path:url(#XMLID_33792_);}
	.st152{clip-path:url(#XMLID_33793_);}
	.st153{clip-path:url(#XMLID_33794_);}
	.st154{clip-path:url(#XMLID_33795_);}
	.st155{clip-path:url(#XMLID_33796_);}
	.st156{clip-path:url(#XMLID_33797_);}
	.st157{clip-path:url(#XMLID_33798_);}
	.st158{clip-path:url(#XMLID_33799_);}
	.st159{clip-path:url(#XMLID_33800_);}
	.st160{clip-path:url(#XMLID_33801_);}
	.st161{clip-path:url(#XMLID_33802_);}
	.st162{clip-path:url(#XMLID_33803_);}
	.st163{clip-path:url(#XMLID_33804_);}
	.st164{clip-path:url(#XMLID_33805_);}
	.st165{clip-path:url(#XMLID_33806_);}
	.st166{clip-path:url(#XMLID_33807_);}
	.st167{clip-path:url(#XMLID_33808_);}
	.st168{clip-path:url(#XMLID_33809_);}
	.st169{clip-path:url(#XMLID_33810_);}
	.st170{clip-path:url(#XMLID_33811_);}
	.st171{clip-path:url(#XMLID_33812_);}
	.st172{clip-path:url(#XMLID_33813_);}
	.st173{clip-path:url(#XMLID_33814_);}
	.st174{clip-path:url(#XMLID_33815_);}
	.st175{clip-path:url(#XMLID_33816_);}
	.st176{clip-path:url(#XMLID_33817_);}
	.st177{clip-path:url(#XMLID_33818_);}
	.st178{clip-path:url(#XMLID_33819_);}
	.st179{clip-path:url(#XMLID_33820_);}
	.st180{clip-path:url(#XMLID_33821_);}
	.st181{clip-path:url(#XMLID_33822_);}
	.st182{clip-path:url(#XMLID_33823_);}
	.st183{clip-path:url(#XMLID_33824_);}
	.st184{clip-path:url(#XMLID_33825_);}
	.st185{clip-path:url(#XMLID_33826_);}
	.st186{clip-path:url(#XMLID_33827_);}
	.st187{clip-path:url(#XMLID_33828_);}
	.st188{clip-path:url(#XMLID_33829_);}
	.st189{clip-path:url(#XMLID_33830_);}
	.st190{clip-path:url(#XMLID_33831_);}
	.st191{clip-path:url(#XMLID_33832_);}
	.st192{clip-path:url(#XMLID_33833_);}
	.st193{clip-path:url(#XMLID_33834_);}
	.st194{clip-path:url(#XMLID_33835_);}
	.st195{clip-path:url(#XMLID_33836_);}
	.st196{clip-path:url(#XMLID_33837_);}
	.st197{clip-path:url(#XMLID_33838_);}
	.st198{clip-path:url(#XMLID_33839_);}
	.st199{clip-path:url(#XMLID_33840_);}
	.st200{clip-path:url(#XMLID_33841_);}
	.st201{clip-path:url(#XMLID_33842_);}
	.st202{clip-path:url(#XMLID_33843_);}
	.st203{clip-path:url(#XMLID_33844_);}
	.st204{clip-path:url(#XMLID_33845_);}
	.st205{clip-path:url(#XMLID_33846_);}
	.st206{clip-path:url(#XMLID_33847_);}
	.st207{clip-path:url(#XMLID_33848_);}
	.st208{clip-path:url(#XMLID_33849_);}
	.st209{clip-path:url(#XMLID_33850_);}
	.st210{clip-path:url(#XMLID_33851_);}
	.st211{clip-path:url(#XMLID_33852_);}
	.st212{clip-path:url(#XMLID_33853_);}
	.st213{clip-path:url(#XMLID_33854_);}
	.st214{clip-path:url(#XMLID_33855_);}
	.st215{clip-path:url(#XMLID_33856_);}
	.st216{clip-path:url(#XMLID_33857_);}
	.st217{clip-path:url(#XMLID_33858_);}
	.st218{clip-path:url(#XMLID_33859_);}
	.st219{clip-path:url(#XMLID_33860_);}
	.st220{clip-path:url(#XMLID_33861_);}
	.st221{clip-path:url(#XMLID_33862_);}
	.st222{clip-path:url(#XMLID_33863_);}
	.st223{clip-path:url(#XMLID_33864_);}
	.st224{clip-path:url(#XMLID_33865_);}
	.st225{clip-path:url(#XMLID_33866_);}
	.st226{clip-path:url(#XMLID_33867_);}
	.st227{clip-path:url(#XMLID_33868_);}
	.st228{clip-path:url(#XMLID_33869_);}
	.st229{clip-path:url(#XMLID_33870_);}
	.st230{clip-path:url(#XMLID_33871_);}
	.st231{clip-path:url(#XMLID_33872_);}
	.st232{clip-path:url(#XMLID_33873_);}
	.st233{clip-path:url(#XMLID_33874_);}
	.st234{clip-path:url(#XMLID_33875_);}
	.st235{clip-path:url(#XMLID_33876_);}
	.st236{clip-path:url(#XMLID_33877_);}
	.st237{clip-path:url(#XMLID_33878_);}
	.st238{clip-path:url(#XMLID_33879_);}
	.st239{clip-path:url(#XMLID_33880_);}
	.st240{clip-path:url(#XMLID_33881_);}
	.st241{clip-path:url(#XMLID_33882_);}
	.st242{clip-path:url(#XMLID_33883_);}
	.st243{clip-path:url(#XMLID_33884_);}
	.st244{clip-path:url(#XMLID_33885_);}
	.st245{clip-path:url(#XMLID_33886_);}
	.st246{clip-path:url(#XMLID_33887_);}
	.st247{clip-path:url(#XMLID_33888_);}
	.st248{clip-path:url(#XMLID_33889_);}
	.st249{clip-path:url(#XMLID_33890_);}
	.st250{clip-path:url(#XMLID_33891_);}
	.st251{clip-path:url(#XMLID_33892_);}
	.st252{clip-path:url(#XMLID_33893_);}
	.st253{clip-path:url(#XMLID_33894_);}
	.st254{clip-path:url(#XMLID_33895_);}
	.st255{clip-path:url(#XMLID_33896_);}
	.st256{clip-path:url(#XMLID_33897_);}
	.st257{clip-path:url(#XMLID_33898_);}
	.st258{clip-path:url(#XMLID_33899_);}
	.st259{clip-path:url(#XMLID_33900_);}
	.st260{clip-path:url(#XMLID_33901_);}
	.st261{clip-path:url(#XMLID_33902_);}
	.st262{clip-path:url(#XMLID_33903_);}
	.st263{clip-path:url(#XMLID_33904_);}
	.st264{clip-path:url(#XMLID_33905_);}
	.st265{clip-path:url(#XMLID_33906_);}
	.st266{clip-path:url(#XMLID_33907_);}
	.st267{clip-path:url(#XMLID_33908_);}
	.st268{clip-path:url(#XMLID_33909_);}
	.st269{clip-path:url(#XMLID_33910_);}
	.st270{clip-path:url(#XMLID_33911_);}
	.st271{clip-path:url(#XMLID_33912_);}
	.st272{clip-path:url(#XMLID_33913_);}
	.st273{clip-path:url(#XMLID_33914_);}
	.st274{clip-path:url(#XMLID_33915_);}
	.st275{clip-path:url(#XMLID_33916_);}
	.st276{clip-path:url(#XMLID_33917_);}
	.st277{clip-path:url(#XMLID_33918_);}
	.st278{clip-path:url(#XMLID_33919_);}
	.st279{clip-path:url(#XMLID_33920_);}
	.st280{clip-path:url(#XMLID_33921_);}
	.st281{clip-path:url(#XMLID_33922_);}
	.st282{clip-path:url(#XMLID_33923_);}
	.st283{clip-path:url(#XMLID_33924_);}
	.st284{clip-path:url(#XMLID_33925_);}
	.st285{clip-path:url(#XMLID_33926_);}
	.st286{clip-path:url(#XMLID_33927_);}
	.st287{clip-path:url(#XMLID_33928_);}
	.st288{clip-path:url(#XMLID_33929_);}
	.st289{clip-path:url(#XMLID_33930_);}
	.st290{clip-path:url(#XMLID_33931_);}
	.st291{clip-path:url(#XMLID_33932_);}
	.st292{clip-path:url(#XMLID_33933_);}
	.st293{clip-path:url(#XMLID_33934_);}
	.st294{clip-path:url(#XMLID_33935_);}
	.st295{clip-path:url(#XMLID_33936_);}
	.st296{clip-path:url(#XMLID_33937_);}
	.st297{clip-path:url(#XMLID_33938_);}
	.st298{clip-path:url(#XMLID_33939_);}
	.st299{clip-path:url(#XMLID_33940_);}
	.st300{clip-path:url(#XMLID_33941_);}
	.st301{clip-path:url(#XMLID_33942_);}
	.st302{clip-path:url(#XMLID_33943_);}
	.st303{clip-path:url(#XMLID_33944_);}
	.st304{clip-path:url(#XMLID_33945_);}
	.st305{clip-path:url(#XMLID_33946_);}
	.st306{clip-path:url(#XMLID_33947_);}
	.st307{clip-path:url(#XMLID_33948_);}
	.st308{clip-path:url(#XMLID_33949_);}
	.st309{clip-path:url(#XMLID_33950_);}
	.st310{clip-path:url(#XMLID_33951_);}
	.st311{clip-path:url(#XMLID_33952_);}
	.st312{clip-path:url(#XMLID_33953_);}
	.st313{clip-path:url(#XMLID_33954_);}
	.st314{clip-path:url(#XMLID_33955_);}
	.st315{clip-path:url(#XMLID_33956_);}
	.st316{clip-path:url(#XMLID_33957_);}
	.st317{clip-path:url(#XMLID_33958_);}
	.st318{clip-path:url(#XMLID_33959_);}
	.st319{clip-path:url(#XMLID_33960_);}
	.st320{clip-path:url(#XMLID_33961_);}
	.st321{clip-path:url(#XMLID_33962_);}
	.st322{clip-path:url(#XMLID_33963_);}
	.st323{clip-path:url(#XMLID_33964_);}
	.st324{clip-path:url(#XMLID_33965_);}
	.st325{clip-path:url(#XMLID_33966_);}
	.st326{clip-path:url(#XMLID_33967_);}
	.st327{clip-path:url(#XMLID_33968_);}
	.st328{clip-path:url(#XMLID_33969_);}
	.st329{clip-path:url(#XMLID_33970_);}
	.st330{clip-path:url(#XMLID_33971_);}
	.st331{clip-path:url(#XMLID_33972_);}
	.st332{clip-path:url(#XMLID_33973_);}
	.st333{clip-path:url(#XMLID_33974_);}
	.st334{clip-path:url(#XMLID_33975_);}
	.st335{clip-path:url(#XMLID_33976_);}
	.st336{clip-path:url(#XMLID_33977_);}
	.st337{clip-path:url(#XMLID_33978_);}
	.st338{clip-path:url(#XMLID_33979_);}
	.st339{clip-path:url(#XMLID_33980_);}
	.st340{clip-path:url(#XMLID_33981_);}
	.st341{clip-path:url(#XMLID_33982_);}
	.st342{clip-path:url(#XMLID_33983_);}
	.st343{clip-path:url(#XMLID_33984_);}
	.st344{clip-path:url(#XMLID_33985_);}
	.st345{clip-path:url(#XMLID_33986_);}
	.st346{clip-path:url(#XMLID_33987_);}
	.st347{clip-path:url(#XMLID_33988_);}
	.st348{clip-path:url(#XMLID_33989_);}
	.st349{clip-path:url(#XMLID_33990_);}
	.st350{clip-path:url(#XMLID_33991_);}
	.st351{clip-path:url(#XMLID_33992_);}
	.st352{clip-path:url(#XMLID_33993_);}
	.st353{clip-path:url(#XMLID_33994_);}
	.st354{clip-path:url(#XMLID_33995_);}
	.st355{clip-path:url(#XMLID_33996_);}
	.st356{clip-path:url(#XMLID_33997_);}
	.st357{clip-path:url(#XMLID_33998_);}
	.st358{clip-path:url(#XMLID_33999_);}
	.st359{clip-path:url(#XMLID_34000_);}
	.st360{clip-path:url(#XMLID_34001_);}
	.st361{clip-path:url(#XMLID_34002_);}
	.st362{clip-path:url(#XMLID_34003_);}
	.st363{clip-path:url(#XMLID_34004_);}
	.st364{clip-path:url(#XMLID_34005_);}
	.st365{clip-path:url(#XMLID_34006_);}
	.st366{clip-path:url(#XMLID_34007_);}
	.st367{clip-path:url(#XMLID_34008_);}
	.st368{clip-path:url(#XMLID_34009_);}
	.st369{clip-path:url(#XMLID_34010_);}
	.st370{clip-path:url(#XMLID_34011_);}
	.st371{clip-path:url(#XMLID_34012_);}
	.st372{clip-path:url(#XMLID_34013_);}
	.st373{clip-path:url(#XMLID_34014_);}
	.st374{clip-path:url(#XMLID_34015_);}
	.st375{clip-path:url(#XMLID_34016_);}
	.st376{clip-path:url(#XMLID_34017_);}
	.st377{clip-path:url(#XMLID_34018_);}
	.st378{clip-path:url(#XMLID_34019_);}
	.st379{clip-path:url(#XMLID_34020_);}
	.st380{clip-path:url(#XMLID_34021_);}
	.st381{clip-path:url(#XMLID_34022_);}
	.st382{clip-path:url(#XMLID_34023_);}
	.st383{clip-path:url(#XMLID_34024_);}
	.st384{clip-path:url(#XMLID_34025_);}
	.st385{clip-path:url(#XMLID_34026_);}
	.st386{clip-path:url(#XMLID_34027_);}
	.st387{clip-path:url(#XMLID_34028_);}
	.st388{clip-path:url(#XMLID_34029_);}
	.st389{clip-path:url(#XMLID_34030_);}
	.st390{clip-path:url(#XMLID_34031_);}
	.st391{clip-path:url(#XMLID_34032_);}
	.st392{clip-path:url(#XMLID_34033_);}
	.st393{clip-path:url(#XMLID_34034_);}
	.st394{clip-path:url(#XMLID_34035_);}
	.st395{clip-path:url(#XMLID_34036_);}
	.st396{clip-path:url(#XMLID_34037_);}
	.st397{clip-path:url(#XMLID_34038_);}
	.st398{clip-path:url(#XMLID_34039_);}
	.st399{clip-path:url(#XMLID_34040_);}
	.st400{clip-path:url(#XMLID_34041_);}
	.st401{clip-path:url(#XMLID_34042_);}
	.st402{clip-path:url(#XMLID_34043_);}
	.st403{clip-path:url(#XMLID_34044_);}
	.st404{clip-path:url(#XMLID_34045_);}
	.st405{clip-path:url(#XMLID_34046_);}
	.st406{clip-path:url(#XMLID_34047_);}
	.st407{clip-path:url(#XMLID_34048_);}
	.st408{clip-path:url(#XMLID_34049_);}
	.st409{clip-path:url(#XMLID_34050_);}
	.st410{clip-path:url(#XMLID_34051_);}
	.st411{clip-path:url(#XMLID_34052_);}
	.st412{clip-path:url(#XMLID_34053_);}
	.st413{clip-path:url(#XMLID_34054_);}
	.st414{clip-path:url(#XMLID_34055_);}
	.st415{clip-path:url(#XMLID_34056_);}
	.st416{clip-path:url(#XMLID_34057_);}
	.st417{clip-path:url(#XMLID_34058_);}
	.st418{clip-path:url(#XMLID_34059_);}
	.st419{clip-path:url(#XMLID_34060_);}
	.st420{clip-path:url(#XMLID_34061_);}
	.st421{clip-path:url(#XMLID_34062_);}
	.st422{clip-path:url(#XMLID_34063_);}
	.st423{clip-path:url(#XMLID_34064_);}
	.st424{clip-path:url(#XMLID_34065_);}
	.st425{clip-path:url(#XMLID_34066_);}
	.st426{clip-path:url(#XMLID_34067_);}
	.st427{clip-path:url(#XMLID_34068_);}
	.st428{clip-path:url(#XMLID_34069_);}
	.st429{clip-path:url(#XMLID_34070_);}
	.st430{clip-path:url(#XMLID_34071_);}
	.st431{clip-path:url(#XMLID_34072_);}
	.st432{clip-path:url(#XMLID_34073_);}
	.st433{clip-path:url(#XMLID_34074_);}
	.st434{clip-path:url(#XMLID_34075_);}
	.st435{clip-path:url(#XMLID_34076_);}
	.st436{clip-path:url(#XMLID_34077_);}
	.st437{clip-path:url(#XMLID_34078_);}
	.st438{clip-path:url(#XMLID_34079_);}
	.st439{clip-path:url(#XMLID_34080_);}
	.st440{clip-path:url(#XMLID_34081_);}
	.st441{clip-path:url(#XMLID_34082_);}
	.st442{clip-path:url(#XMLID_34083_);}
	.st443{clip-path:url(#XMLID_34084_);}
	.st444{clip-path:url(#XMLID_34085_);}
	.st445{clip-path:url(#XMLID_34086_);}
	.st446{clip-path:url(#XMLID_34087_);}
	.st447{clip-path:url(#XMLID_34088_);}
	.st448{clip-path:url(#XMLID_34089_);}
	.st449{clip-path:url(#XMLID_34090_);}
	.st450{clip-path:url(#XMLID_34091_);}
	.st451{clip-path:url(#XMLID_34092_);}
	.st452{clip-path:url(#XMLID_34093_);}
	.st453{clip-path:url(#XMLID_34094_);}
	.st454{clip-path:url(#XMLID_34095_);}
	.st455{clip-path:url(#XMLID_34096_);}
	.st456{clip-path:url(#XMLID_34097_);}
	.st457{clip-path:url(#XMLID_34098_);}
	.st458{clip-path:url(#XMLID_34099_);}
	.st459{clip-path:url(#XMLID_34100_);}
	.st460{clip-path:url(#XMLID_34101_);}
	.st461{clip-path:url(#XMLID_34102_);}
	.st462{clip-path:url(#XMLID_34103_);}
	.st463{clip-path:url(#XMLID_34104_);}
	.st464{clip-path:url(#XMLID_34105_);}
	.st465{clip-path:url(#XMLID_34106_);}
	.st466{clip-path:url(#XMLID_34107_);}
	.st467{clip-path:url(#XMLID_34108_);}
	.st468{clip-path:url(#XMLID_34109_);}
	.st469{clip-path:url(#XMLID_34110_);}
	.st470{clip-path:url(#XMLID_34111_);}
	.st471{clip-path:url(#XMLID_34112_);}
	.st472{clip-path:url(#XMLID_34113_);}
	.st473{clip-path:url(#XMLID_34114_);}
	.st474{clip-path:url(#XMLID_34115_);}
	.st475{clip-path:url(#XMLID_34116_);}
	.st476{clip-path:url(#XMLID_34117_);}
	.st477{clip-path:url(#XMLID_34118_);}
	.st478{clip-path:url(#XMLID_34119_);}
	.st479{clip-path:url(#XMLID_34120_);}
	.st480{clip-path:url(#XMLID_34121_);}
	.st481{clip-path:url(#XMLID_34122_);}
	.st482{clip-path:url(#XMLID_34123_);}
	.st483{clip-path:url(#XMLID_34124_);}
	.st484{clip-path:url(#XMLID_34125_);}
	.st485{clip-path:url(#XMLID_34126_);}
	.st486{clip-path:url(#XMLID_34127_);}
	.st487{clip-path:url(#XMLID_34128_);}
	.st488{clip-path:url(#XMLID_34129_);}
	.st489{clip-path:url(#XMLID_34130_);}
	.st490{clip-path:url(#XMLID_34131_);}
	.st491{clip-path:url(#XMLID_34132_);}
	.st492{clip-path:url(#XMLID_34133_);}
	.st493{clip-path:url(#XMLID_34134_);}
	.st494{clip-path:url(#XMLID_34135_);}
	.st495{clip-path:url(#XMLID_34136_);}
	.st496{clip-path:url(#XMLID_34137_);}
	.st497{clip-path:url(#XMLID_34138_);}
	.st498{clip-path:url(#XMLID_34139_);}
	.st499{clip-path:url(#XMLID_34140_);}
	.st500{clip-path:url(#XMLID_34141_);}
	.st501{clip-path:url(#XMLID_34142_);}
	.st502{clip-path:url(#XMLID_34143_);}
	.st503{clip-path:url(#XMLID_34144_);}
	.st504{clip-path:url(#XMLID_34145_);}
	.st505{clip-path:url(#XMLID_34146_);}
	.st506{clip-path:url(#XMLID_34147_);}
	.st507{clip-path:url(#XMLID_34148_);}
	.st508{clip-path:url(#XMLID_34149_);}
	.st509{clip-path:url(#XMLID_34150_);}
	.st510{clip-path:url(#XMLID_34151_);}
	.st511{clip-path:url(#XMLID_34152_);}
	.st512{clip-path:url(#XMLID_34153_);}
	.st513{clip-path:url(#XMLID_34154_);}
	.st514{clip-path:url(#XMLID_34155_);}
	.st515{clip-path:url(#XMLID_34156_);}
	.st516{clip-path:url(#XMLID_34157_);}
	.st517{clip-path:url(#XMLID_34158_);}
	.st518{clip-path:url(#XMLID_34159_);}
	.st519{clip-path:url(#XMLID_34160_);}
	.st520{clip-path:url(#XMLID_34161_);}
	.st521{clip-path:url(#XMLID_34162_);}
	.st522{clip-path:url(#XMLID_34163_);}
	.st523{clip-path:url(#XMLID_34164_);}
	.st524{clip-path:url(#XMLID_34165_);}
	.st525{clip-path:url(#XMLID_34166_);}
	.st526{clip-path:url(#XMLID_34167_);}
	.st527{clip-path:url(#XMLID_34168_);}
	.st528{clip-path:url(#XMLID_34169_);}
	.st529{clip-path:url(#XMLID_34170_);}
	.st530{clip-path:url(#XMLID_34171_);}
	.st531{clip-path:url(#XMLID_34172_);}
	.st532{clip-path:url(#XMLID_34173_);}
	.st533{clip-path:url(#XMLID_34174_);}
	.st534{clip-path:url(#XMLID_34175_);}
	.st535{clip-path:url(#XMLID_34176_);}
	.st536{clip-path:url(#XMLID_34177_);}
	.st537{clip-path:url(#XMLID_34178_);}
	.st538{clip-path:url(#XMLID_34179_);}
	.st539{clip-path:url(#XMLID_34180_);}
	.st540{clip-path:url(#XMLID_34181_);}
	.st541{clip-path:url(#XMLID_34182_);}
	.st542{clip-path:url(#XMLID_34183_);}
	.st543{clip-path:url(#XMLID_34184_);}
	.st544{clip-path:url(#XMLID_34185_);}
	.st545{clip-path:url(#XMLID_34186_);}
	.st546{clip-path:url(#XMLID_34187_);}
	.st547{clip-path:url(#XMLID_34188_);}
	.st548{clip-path:url(#XMLID_34189_);}
	.st549{clip-path:url(#XMLID_34190_);}
	.st550{clip-path:url(#XMLID_34191_);}
	.st551{clip-path:url(#XMLID_34192_);}
	.st552{clip-path:url(#XMLID_34193_);}
	.st553{clip-path:url(#XMLID_34194_);}
	.st554{clip-path:url(#XMLID_34195_);}
	.st555{clip-path:url(#XMLID_34196_);}
	.st556{clip-path:url(#XMLID_34197_);}
	.st557{clip-path:url(#XMLID_34198_);}
	.st558{clip-path:url(#XMLID_34199_);}
	.st559{clip-path:url(#XMLID_34200_);}
	.st560{clip-path:url(#XMLID_34201_);}
	.st561{clip-path:url(#XMLID_34202_);}
	.st562{clip-path:url(#XMLID_34203_);}
	.st563{clip-path:url(#XMLID_34204_);}
	.st564{clip-path:url(#XMLID_34205_);}
	.st565{clip-path:url(#XMLID_34206_);}
	.st566{clip-path:url(#XMLID_34207_);}
	.st567{clip-path:url(#XMLID_34208_);}
	.st568{clip-path:url(#XMLID_34209_);}
	.st569{clip-path:url(#XMLID_34210_);}
	.st570{clip-path:url(#XMLID_34211_);}
	.st571{clip-path:url(#XMLID_34212_);}
	.st572{clip-path:url(#XMLID_34213_);}
	.st573{clip-path:url(#XMLID_34214_);}
	.st574{clip-path:url(#XMLID_34215_);}
	.st575{clip-path:url(#XMLID_34216_);}
	.st576{clip-path:url(#XMLID_34217_);}
	.st577{clip-path:url(#XMLID_34218_);}
	.st578{clip-path:url(#XMLID_34219_);}
	.st579{clip-path:url(#XMLID_34220_);}
	.st580{clip-path:url(#XMLID_34221_);}
	.st581{clip-path:url(#XMLID_34222_);}
	.st582{clip-path:url(#XMLID_34223_);}
	.st583{clip-path:url(#XMLID_34224_);}
	.st584{clip-path:url(#XMLID_34225_);}
	.st585{clip-path:url(#XMLID_34226_);}
	.st586{clip-path:url(#XMLID_34227_);}
	.st587{clip-path:url(#XMLID_34228_);}
	.st588{clip-path:url(#XMLID_34229_);}
	.st589{clip-path:url(#XMLID_34230_);}
	.st590{clip-path:url(#XMLID_34231_);}
	.st591{clip-path:url(#XMLID_34232_);}
	.st592{clip-path:url(#XMLID_34233_);}
	.st593{clip-path:url(#XMLID_34234_);}
	.st594{clip-path:url(#XMLID_34235_);}
	.st595{clip-path:url(#XMLID_34236_);}
	.st596{clip-path:url(#XMLID_34237_);}
	.st597{clip-path:url(#XMLID_34238_);}
	.st598{clip-path:url(#XMLID_34239_);}
	.st599{clip-path:url(#XMLID_34240_);}
	.st600{clip-path:url(#XMLID_34241_);}
	.st601{clip-path:url(#XMLID_34242_);}
	.st602{clip-path:url(#XMLID_34243_);}
	.st603{clip-path:url(#XMLID_34244_);}
	.st604{clip-path:url(#XMLID_34245_);}
	.st605{clip-path:url(#XMLID_34246_);}
	.st606{clip-path:url(#XMLID_34247_);}
	.st607{clip-path:url(#XMLID_34248_);}
	.st608{clip-path:url(#XMLID_34249_);}
	.st609{clip-path:url(#XMLID_34250_);}
	.st610{clip-path:url(#XMLID_34251_);}
	.st611{clip-path:url(#XMLID_34252_);}
	.st612{clip-path:url(#XMLID_34253_);}
	.st613{clip-path:url(#XMLID_34254_);}
	.st614{clip-path:url(#XMLID_34255_);}
	.st615{clip-path:url(#XMLID_34256_);}
	.st616{clip-path:url(#XMLID_34257_);}
	.st617{clip-path:url(#XMLID_34258_);}
	.st618{clip-path:url(#XMLID_34259_);}
	.st619{clip-path:url(#XMLID_34260_);}
