.menu{
    cursor:pointer;
}
.st0{fill:#2E2F2D;}
	.st1{display:none;}
	.st2{display:inline;}
	.st3{fill:#4F4F4F;}
	.st4{enable-background:new    ;}
	.st5{fill:#828282;}
	.st6{fill:#4F4F4F;}
	.st7{fill:none;stroke:#66C3A8;stroke-width:2;stroke-miterlimit:10;}
	.st8{fill:#818181;}
	.st9{fill:#66C3A8;}
	.st10{fill:#438371;}
	.st11{fill:#A2D7C7;}
	.st12{display:inline;enable-background:new    ;}
	.st13{fill:#FFFFFF;}
.st14{display:block}
